:root {
    --color: #F57B20;
    --primary-bg-color: #eee;
    --secondary-bg-color: #fff;
    --primary-text-color: #666;
    --secondary-text-color: #999;
}

/* background img */

.img-1 {
	background-image: url(../img/foto1.png);        
}

.img-2 {
	background-image: url(../img/foto2.png);
}

.img-3 {
	background-image: url(../img/foto3.png);
}

.img-4 {
	background-image: url(../img/foto4.png);
}

.img-5 {
	background-image: url(../img/foto5.png);
}

html {
    scroll-behavior: smooth;
}

body {
    line-height: 1.5;
    font-family: 'Roboto', sans-serif;
    /* overflow-x: hidden; */
}

footer {
	background: red;
}

body.hidden-scrolling {
    overflow-y: hidden;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1400px;
    /* background-color: red; */
    /* margin: auto; */
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

/* header */



.header {
    position: fixed;
    /* background-color: #E88033; */
    width: 100%;
    left: 0;
    top: 0;
    z-index: 99;
    padding: 15px;
    
}

/* header1 */
.header1 {
    position: absolute;
    top: 5px;
	left: 0;
    right: 0;
    margin: 10px 10px;
	width: 99%;
	height: 80px;
	z-index: -999;
	background: gray;
	border-top-left-radius: 15px;
	border-bottom-right-radius: 15px;
	transition: all .2s;
    /* padding: 0px 100px; */
}

.header1 a {
    color: #fff;
    font-weight: 600;
	float: right;
    padding: 5px 25px;
}

.header1.hilang {
	display: none;
}

.header1.hilang .right a{
    display: none;
    transition: all .14s;
}

/* responsive header1 */


@media (max-width: 991px) {
    .header1 {
        font-size: 12px;
        font-weight: 600;
		width: 98%;
        margin: 10px 10px;
    }
	.grid1, .grid2 {
		display: flex;
		justify-content: space-between;
	}
}

@media (max-width: 428px) {
	.header1 {
		width: 96%;
		margin: 10px 10px;
	}
}

/* .header1 .right i {
    margin-right: 10px;
} */


/* fixed top navbar */
.header-main.sticky {
    background: rgba(255, 255, 255, .2);
}

.header-main.sticky .logo a {
    color: #ffffff;
}

.header-main.sticky .nav-menu ul li a {
    color: #fff;
    font-weight: 600;
}

.header-main.sticky .menu>.menu-item>.sub-menu>.menu-item a {
    color: #000;
}

.header-main.sticky .menu>.menu-item>.sub-menu>.menu-item a:hover {
    color: #F57B20;
}

.header-main.sticky .nav-menu ul li a:hover {
    color: #000;
}

.header-main {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0px;
    padding: 10px 0px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    transition: all .5s;
}



/* image */

.header .logo img {
    width: 70px;
    height: 45px;
    padding-left: 20px;
    /* padding-top: 10px; */
}

.header .logo {
    /* background-color: pink; */
    padding: 0 15px;
}



.header .logo a {
    font-size: 25px;
    color: var(--color);
    font-weight: 600;
}

.header .nav-menu {
    /* background-color: red; */
    padding: 0 15px;
}

.header .menu>.menu-item {
    display: inline-block;
    margin-left: 30px;
    /* dropdown menu */
    position: relative;
}

.header .menu>.menu-item>a {
    display: block;
    padding: 12px 0;
    font-size: 16px;
    color: var(--color);
    text-transform: uppercase;
    font-weight: 600;
    transition: all 0.3 ease;
}

.header .menu>.menu-item>a .plus {
    display: inline-block;
    width: 12px;
    height: 12px;
    /* background-color: red; */
    position: relative;
    margin-left: 5px;
    pointer-events: none;
}

.header .menu>.menu-item>a .plus:after,
.header .menu>.menu-item>a .plus:before {
    content: '';
    position: absolute;
    box-sizing: border-box;
    left: 50%;
    top: 50%;
    background-color: #000000;
    height: 2px;
    width: 100%;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease;
}

.header .menu>.menu-item:hover>a .plus:after,
.header .menu>.menu-item:hover>a .plus:before {
    background-color: #000;
}

.header .menu>.menu-item>a .plus:after {
    transform: translate(-50%, -50%) rotate(-90deg);
}

.header .menu>.menu-item>.sub-menu>.menu-item a:hover,
.header .menu>.menu-item:hover>a {
    color: #000;
}

/* dropdown menu */
.header .menu>.menu-item>.sub-menu {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 220px;
    position: absolute;
    left: 0;
    top: 119%;
    background-color: #fff;
    padding: 10px 0;
    border-top: 3px solid #000000;
    transform: translateY(10px);
    border-radius: 3px;
    transition: all 0.3s ease;
    opacity: 0;
    visibility: hidden;
}

@media (min-width: 992px) {
    .header .menu>.menu-item-has-children:hover>.sub-menu {
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
    }

    .header .menu>.menu-item-has-children:hover>a .plus:after {
        transform: translate(-50%, -50%) rotate(0deg);
    }
}


.header .menu>.menu-item>.sub-menu>.menu-item {
    display: block;
}

.header .menu>.menu-item>.sub-menu>.menu-item a {
    display: block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 600;
    color: var(--color);
    transition: all 0.3 ease;
}

/* ketika display none maka muncul */
.header .open-nav-menu {
    height: 34px;
    width: 40px;
    /* background-color: red; */
    margin-right: 15px;
    position: relative;
    display: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}


.header .open-nav-menu span {
    display: block;
    font-size: 24px;
    position: relative;
}

.header .open-nav-menu span:after,
.header .open-nav-menu span:before {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.header .open-nav-menu span:before {
    top: -7px;
}

.header .open-nav-menu span:after {
    top: 7px;
}

.header .close-nav-menu {
    height: 40px;
    width: 40px;
    background-color: #ffffff;
    margin: 0 0 15px 15px;
    cursor: pointer;
    display: none;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    border-radius: 3px;
}

/* ketika dibuka background menjadi gelap */
.header .menu-overlay {
    position: fixed;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.5);
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease;
}

.header .menu-overlay.active {
    visibility: visible;
    opacity: 1;
}

/* home section */
.home-section {
    position: relative;
    background-size: cover;
    /* top: -158px; */
    width: 100%;
}


/* slider */

.slider {
    position: relative;
    width: 100%;
    /* background-color: red; */
}

.myslider {
    height: 800px;
    display: none;
    overflow: hidden;
}

.next,
.prev {
    position: absolute;
    top: 59%;
    transform: translate(0, -50%);
    font-size: 50px;
    font-weight: 700;
    cursor: pointer;
    color: #ffffff;
    transition: 0.1s;
    user-select: none;
}

.prev:hover,
.next:hover {
    color: gray;
}

.next {
    right: 0;
}

.dotsbox {
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: 20px;
    cursor: pointer;
}

.dot {
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 3px solid #fff;
    border-radius: 50%;
    margin: 0 10px;
    cursor: pointer;
}

.aktif,
.dot:hover {
    background: #ffffff;
    border-color: gray;
}

/* .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: 0.9;}
    to {opacity: 1.5;}
}

@keyframes fade {
    from {opacity: 0.9;}
    to {opacity: 1.5;}
} */

/* .txt {
    position: absolute;
    color: #fff;
    font-weight: bold;
    letter-spacing: 2px;
    line-height: 35px;
    top: 200px;
    left: 15%;
    -webkit-animation-name: posi;
    -webkit-animation-duration: 2s;
    animation-name: posi;
    animation-duration: 2s;
    z-index: 1;
}

@-webkit-keyframes posi {
    from {left: 25%;}
    to {left: 15%;}
}

@keyframes posi {
    from {left: 25%;}
    to {left: 15%;}
} */

/* .txt h2 {
    color: var(--color);
    font-weight: bold;
    margin-bottom: 20px;
}

.txt p {
    font-weight: bold;
    font-size: 20px;
} */

.home-section img {
    width: 100%;
    height: 102%;
    /* transform: scale(1,1);
    -webkit-animation-name: zoomin;
    -webkit-animation-duration: 40s;
    animation-name: zoomin;
    animation-duration: 40s; */
}

/* @-webkit-keyframes zoomin {
    from {transform: scale(1,1);}
    to {transform: scale(1.5,1.5);}
}

@keyframes zoomin {
    from {transform: scale(1,1);}
    to {transform: scale(1.5,1.5);}
} */

/* responsive slider */
@media screen and (max-width: 991px) {
    .home-section {
        top: 0px;
        width: 100%;
    }

    .myslider {
        width: 100%;
        height: 400px;
    }

    .dot {
        width: 12px;
        height: 12px;
    }
    /* .txt {
        line-height: 25px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-animation-name: posi2;
        -webkit-animation-duration: 2s;
        animation-name: posi2;
        animation-duration: 2s;
    }
    @keyframes posi2 {
        from {top: 35%;}
        top {top: 50%;}
    }
    @keyframes posi2 {
        from {top: 35%;}
        top {top: 50%;}
    }
    .txt h1 {
        font-size: 40px;
    }
    .txt p {
        font-size: 13px;
    } */
}

/* @media screen and (max-width: 520px) {
    .txt h1 {
        font-size: 30px;
    }
} */


/* card */
main {
    background-image: linear-gradient(#ffad42, #F57B20);
    padding: 0;	
}

.txt1 {
    text-align: center;
    padding: 60px;
    font-size: 60px;
    color: #ffffff;
}

.txt2 {
    text-align: center;
    padding: 60px;
    font-size: 40px;
    color: #ffffff;
}

.paragraf {
    text-align: center;
    color: #ffffff;
    font-weight: bold;
}

.container1 {
    display: flex;
    justify-content: center;
    /* flex-wrap: wrap; */
}


/* .grid1, .grid2 {
	display: flex;
	justify-content: space-between;
} */

.card {
    background: rgba(255, 255, 255, .2);
    width: 270px;
    margin: 18px;
    border-radius: 15px;
}

.card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: yellow;
    border-radius: 15px;
    z-index: -1;
    clip-path: circle(5rem at 0 10%);
    transition: .3s linear;
}

.card:hover::before {
    clip-path: circle(100%);
}

.card:hover>* {
    color: #000;
}

.card-image {
    /* background: aqua; */
    height: 150px;
    margin-bottom: 15px;
    background-size: cover;
    border-radius: 15px 15px 0 0;
}

.card h2 {
    padding: 10px;
}

.card p {
    padding: 10px;
}

.card:hover {
    background-color: rgb(62, 62, 62);
    color: #ffffff;
    cursor: pointer;
}

/* responsive card */


@media (max-width: 1180px) {
    .txt1 {
        font-size: 38px;
    }
    .txt2 {
        font-size: 25px;
    }
    .paragraf {
        text-align: justify;
        margin: 20px;
    }
    .container1 {
        display: grid;
		grid-template-columns: 1fr 1fr ;
		justify-content: center;
		gap: 10px;
		margin: 10px 100px;
    }

    .container1 h2 {
        text-align: center;
    }
}

@media (max-width: 428px) {
	/* .container1{
		display: flex;
		justify-content: center;
	} */
	.txt1 {
		font-size: 34px;
	}

	.container1 {
		display: grid;
		grid-template-columns: 1fr;
		justify-content: center;
	}
}

/* @media (max-width: 450px) {
    .container1 {
        display: block;
        margin: 45px;
    }
} */

/* price plans */
.row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* overflow-y: hidden; */
    margin: 0;
}


.container2 h1 {
    text-align: center;
    padding: 60px;
    font-size: 40px;
    color: #ffffff;
}

.single-price {
    background: #fff;
    width: 290px;
    height: 400px;
    margin: 20px;
    border-radius: 15px;
    cursor: pointer;
    transition: transform .3s;
    overflow: hidden;
}

.single-price:hover {
    transform: translateY(5px);
    box-shadow: 2px 2px 26px 0 rgba(0, 0, 0, 0.3);
}

.price-head {
    text-align: center;
    padding: 10px;
    font-size: 25px;
    color: #ffffff;
    background-color: red;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.price-body {
    padding: 10px;
    font-size: 20px;
}

.price-body i {
    padding: 10px;
}

.price-body ul li {
    border-bottom: 1px solid gray;
}

.price-body .fa-check-circle {
    color: green;
}

.price-body .fa-times-circle {
    color: red;
}

.single-price .price-button {
    background: #F57B20;
    border-radius: 20px;
    border: none;
    color: #fff;
    padding: 10px;
    margin: 0px 17px;
    width: 90%;
    font-weight: 600;
    cursor: pointer;
    text-align: center;
}


.price-button a {
    color: #fff;
    font-weight: 600;
}

.price-button:hover {
    background: red;
}

/* testimoni */
section .testimoni {
    display: block;
    justify-content: center;
    align-items: center;
    min-height: 140vh;
    background: #111;
}

.testimonials {
    position: relative;
    max-width: 100%;
    /* -webkit-box-reflect: below 1px linear-gradient(transparent 70%, #0009); */
}

.testimoni .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 350px;
    /* margin: 0 20px; */
    /* min-height: 300px; */
    /* background: #fff; */
}

.testimoni .card1 .imgBx img {
    width: 100px;
}

/* .swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right {
    background-image: none;
} */

.testimoni .testimonials .card1 {
    position: relative;
    width: 100%;
    margin: 0 auto;
    background: #333;
    padding: 60px 40px;
    text-align: center;
    overflow: hidden;
}

.testimoni .testimonials .card1 .layer {
    position: absolute;
    top: calc(100% - 2px);
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#03a9f4, #e91ee3);
    transition: 0.5s;
}

.testimoni .testimonials .card1:hover .layer {
    top: 0;
}

.testimoni .testimonials .card1 .content {
    position: relative;
    z-index: 2;
}

.testimoni .testimonials .card1 .content p {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 20px;
    color: #fff;
}

.testimoni .testimonials .card1 .content .imgBx {
    width: 100px;
    height: 100px;
    margin: 0 auto 10px;
    border-radius: 50%;
    overflow: hidden;
    border: 4px solid #fff;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.testimoni .testimonials .card1 .content h2 {
    font-size: 18px;
    color: #fff;
}

.testimoni .testimonials .card1 .content h2 span{
    color: #03a9f4;
    font-size: 14px;
}

.testimoni .testimonials .card1:hover .content h2 span {
    color: #fff;
}

.judul {
    /* background-color: rebeccapurple; */
    /* margin-top: -400px; */
    /* padding: 20px; */
    /* margin-bottom: 200px; */
}

.testimoni .testimonials .judul h1 {
    color: #fff;
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
    font-size: 50px;
    padding-top: 100px;
    padding-bottom: 100px;
}

@media (max-width: 991px) {
    .testimoni .testimonials .judul h1 {
        font-size: 30px;
        min-height: 20vh;
    }
}

/* services */
.container3 {
    transition: all .2s linear;
    min-height: 50vh;
    padding: 20px 9%;
    background: var(--primary-bg-color);
    padding-bottom: 80px;
}

.container3 .title {
    text-align: center;
    color: var(--primary-text-color);
    font-size: 50px;
    padding: 15px 0;
    text-transform: uppercase;
}

.container3 .box-container3 {
    display: flex;
    justify-content: space-between;
    /* flex-wrap: wrap; */
    gap: 15px;
}

.container3 .box-container3 .grid4, .grid5 {
	display: flex;
	gap: 15px;
}

.container3 .box-container3 .box3 {
    flex: 1 1 30px;
	margin: 10px 0;
    text-align: center;
    background: var(--secondary-bg-color);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    position: relative;
    overflow: hidden;
    z-index: 0;
}

.container3 .box-container3 .box3 i {
    font-size: 40px;
    height: 80px;
    width: 80px;
    line-height: 80px;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    margin: 10px 0;
    color: var(--primary-text-color);
}

.container3 .box-container3 .box3 h3 {
    font-size: 25px;
    color: var(--primary-text-color);
}

.container3 .box-container3 .box3 p {
    font-size: 18px;
    color: var(--secondary-text-color);
    padding: 5px;
}

.container3 .box-container3 .box3 .number {
    position: absolute;
    top: 5px;
    left: 15px;
    font-weight: bolder;
    font-size: 50px;
    color: #fff;
}

.container3 .box-container3 .box3::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    transition: .3s linear;
    background: #42b530;
    clip-path: circle(23% at 5% 0);
}

.container3 .box-container3 .box3:hover:before {
    clip-path: circle(100%);
}

.container3 .box-container3 .box3:hover > * {
    color: #fff;
}

/* responsive services*/
@media (max-width: 1180px) {
	.container3 {
        display: grid;
        padding: 80px 30px;
    }
	.container3 .grid4,.grid5{
		display: flex;
		justify-content: space-between;
	}
    .container3 .title {
        font-size: 35px;
        padding-bottom: 20px;
    }
	.container3 .box-container3 .box3 {
		margin: 10px 20px;
	}

    .container3 .box-container3 {
        flex-wrap: wrap;
    }
}

@media (max-width: 428px) {
    .container3 {
        display: grid;
        padding: 80px 20px;
    }
	.container3 .box-container3 .grid4,.grid5{
		display: grid;
		justify-content: center;
	}
    .container3 .title {
        font-size: 35px;
        padding-bottom: 20px;
    }

    .container3 .box-container3 {
        flex-wrap: wrap;
    }
    /* .container3 .box-container3 .box3 {
        flex: none;
        margin: 0 10px;
    } */
}

/* footer */


#footer {
    font-family: 'roboto', sans-serif;
    margin: 0;
    display: grid;
    font-size: 14px;
}

footer {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-flow: row wrap;
    padding: 50px;
    color: #fff;
    background-color: #011c39;
	/* margin-top: -200px; */
}

.footer>* {
    flex: 1 100%;
}

.footer-left {
    margin-right: 1.25em;
    margin-bottom: 2em;
}

.footer-left img {
    width: 100px;
    height: auto;
    margin-bottom: 20px;
}

.footer-right .features h2 {
    font-weight: 600;
    font-size: 17px;
    margin-bottom: 5px;
}

.footer ul {
    list-style: none;
    padding-left: 0;
}

.footer li {
    line-height: 2em;
}

.footer a {
    text-decoration: none;
}

.footer-right {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-flow: row wrap;
}

.footer-right>* {
    flex: 1 50%;
    margin-right: 1.25em;
}

.box a {
    color: #999;
}

.footer-bottom {
    text-align: center;
    color: #999;
    padding-top: 50px;
}

.footer-left p {
    padding-right: 20%;
    margin-bottom: 5px;
}

.footer-left a {
    text-decoration: none;
    color: #999;
}

@media only screen and (min-width:768px) {
    .footer-right>* {
        flex: 1;
    }
    .footer-left {
        flex: 1 0px;
        width: auto;
    }
    .footer-right {
        flex: 2 0px;
    }
}

@media only screen and (max-width:767px) {
    .footer {
        padding: 20px;
    }
    .footer-left {
        margin-top: 30px;
    }
    .footer-right {
        display: flex;
        justify-content: center;
    }
    .footer-right .features {
        max-width: 35%;
        text-align: center;
    }
    .footer-right .features h2 {
        margin-top: 20px;
        border-bottom: #999 1px solid;
    }
}



/* footer */



/* button to top */
.to-top {
    background: white;
    position: fixed;
    padding-bottom: 1px;
    bottom: 16px;
    right: 32px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 32px;
    color: #000000;
    text-decoration: none;
    opacity: 0;
    pointer-events: none;
    transition: all .4s;
    z-index: 1000;
}

.to-top:hover {
    color: var(--color);

}

.to-top.on {
    bottom: 16px;
    pointer-events: auto;
    opacity: 1;
}


/* responsive */
@media (max-width: 991px) {
    .header .nav-menu {
        position: fixed;
        right: -280px;
        visibility: hidden;
        width: 280px;
        height: 100%;
        top: 0;
        overflow-y: auto;
        background-color: gray;
        z-index: 1000;
        padding: 15px 0;
        border-radius: 3px;
        transition: all 0.5s ease;
    }

    .header .nav-menu.open {
        visibility: visible;
        right: 0px;
    }

    .header .menu>.menu-item {
        display: block;
        margin: 0;
    }


    .header .menu>.menu-item-has-children>a {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }


    .header .menu>.menu-item>a {
        color: #fff;
        padding: 12px 15px;
        border-bottom: 1px solid #333333;
    }

    /* .header .menu>.menu-item>a:hover {
        color: #000;
    } */

    .header .menu>.menu-item:first-child>a {
        border-top: 1px solid #333333;
    }

    /* .header .menu>.menu-item:first-child>a:hover {
        color: #000;
    } */

    .header .menu>.menu-item>a .plus:before,
    .header .menu>.menu-item>a .plus:after {
        background-color: #ffffff;
    }

    .header .menu>.menu-item-has-children.active>a .plus:after {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    .header .menu>.menu-item>.sub-menu {
        width: 100%;
        position: relative;
        opacity: 1;
        visibility: visible;
        border: none;
        background-color: transparent;
        box-shadow: none;
        transform: translateY(0px);
        padding: 0px;
        left: auto;
        top: auto;
        max-height: 0;
        overflow: hidden;
    }

    .header .menu>.menu-item>.sub-menu>.menu-item>a {
        padding: 12px 45px;
        color: #000000;
        border-bottom: 1px solid #333333;
    }

    .header .menu>.menu-item>.sub-menu>.menu-item>a:hover {
        color: var(--color);
    }

    .header .close-nav-menu,
    .header .open-nav-menu {
        display: flex;
    }

    .header-main .logo a {
        font-size: 20px;
    }

}

